.Menu {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    gap: 65px;
    font-size: 18px;
    position: fixed;
    top: 0;
    z-index: 10;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    justify-content: center;
    align-items: center;
}
