.InformationOverlay {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.InformationContainer {
    background-color: var(--popup-background);
    width: 80%;
    min-height: 80%;
    overflow: hidden;
    backdrop-filter: blur(40px);
    border-radius: 25px 25px 0 25px;
}