.InformationOverlay {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    box-sizing: border-box;
}

.InformationOverlay {
    padding-inline: clamp(0.4rem, 3vw, 5rem);
}

@media (min-width: 1000px) {
    .InformationOverlay {
        padding-inline: clamp(2rem, 13vw, 15rem);
    }
}

.InformationContainer {
    background-color: var(--popup-background);
    width: 100%;
    padding-top: 0px;
    min-height: auto;
    overflow: hidden;
    backdrop-filter: blur(40px);
    border-radius: 25px 25px 0 25px;
}