.Flex1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vw;
    width: 100%;
}

.Flex2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.Background {
    background-size: cover;
    background-image: url('../../assets/images/backgrounds/points.svg');
    width: 100%;
    height: calc(123vh - 10vw);
    max-height: 123vh;
    position: absolute;
    top: 0;
    z-index: -1;
}


.Gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--background-color) 50%);
    height: 300px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}

.ButtonContainer {
    margin-top: 3px;
}

.ProfileImage {
    max-width: 20%;
    height: auto;
}

@media (max-width: 768px) {
    .Flex1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .Flex2 {
    }

    .ProfileImage {
        max-width: 40%;
        min-width: 200px;
    }

    .ButtonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    h1 {
        text-align: center;
    }
    h2 {
        width: 100%;
        text-align: center;
    }
}
