.Blank {
    margin-top: 200px;
}

.Flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Flex2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}