.GPAInformationTabs {
    display: flex;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 25px 25px 0 0;
}

.GPAInformationTab.firstTab {
    border-right: 1px solid var(--tab-border);
}
.GPAInformationTab.lastTab {
    border-left: 1px solid var(--tab-border);
}

.GPAInformationTab.between {
    border-right: 1px solid var(--tab-border);
    border-left: 1px solid var(--tab-border);
}

.GPAInformationTab {
    box-sizing: border-box;
    border-bottom: 3px solid transparent;

}

.GPAInformationTab.active {
    border-bottom: 3px solid var(--purple);
    font-family: 'Nexa-Bold', sans-serif;
    color: var(--purple);

    background-color: var(--gray-background);
}

.GPAInformationTab.firstTab.active {
    border-radius: 25px 0 0 0;
}

.GPAInformationTab.lastTab.active {
    border-radius: 0 25px 0 0;
}
