
.Cross {
    width: 30px;
    height: 30px;

    transition: 0.5s ease-in-out;
}

.Cross:hover {
    transform: scale(1.2) rotate(180deg);
}

.CrossContainer {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
