.ProjectsBackground {
    background-size: 1500px;
    background-image: url('../../../assets/images/backgrounds/points.svg');
    width: 100%;
    min-height: 94vh;
    position: relative;
    margin-top: -20px;
    z-index: -1;
}

@media (max-width: 1256px) {
    .ProjectsBackground {
        min-height: 1050px;
    }
}

@media (max-width: 828px) {
    .ProjectsBackground {
        min-height: 2030px;
    }
}

.Projects {
    margin-top: 20px;
    width: 75%;
}

.ProjectsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PurpleBackground {
    background-color: var(--purple);
    font-family: 'Nexa-Bold', sans-serif;
    color: var(--background-color);
    padding: 45px 0;
}

.ProjectsMoreText {
    font-size: 30px;
    margin: 0;
}