.GPAButton {
    font-size: clamp(16px, 3vw, 18px)!important;
    background-color: var(--purple);
    color: var(--background-color);
    width: calc(200px + 5vw);
    padding: 15px 0;
    border-radius: 40px;
    margin: 0;
}