.ProjectsBackground {
    background-size: auto;
    background-image: url('../../assets/images/backgrounds/points.svg');
    width: 100%;
    min-height: 1250px;
    margin-top: -20px;
    z-index: -1;
}
@media (max-width: 2073px) {
    .ProjectsBackground {
        min-height: 1650px;
    }
}

@media (max-width: 1850px) {
    .ProjectsBackground {
        min-height: 91vw;
    }
    .Arrow {
        height: 204px!important;
    }
    .TimelineContainer {
        right: 3.3vw!important;
    }
}


@media (max-width: 1400px) {
    .ProjectsBackground {
        min-height: 1280px;
    }
    .Arrow {
        height: 204px!important;
    }
    .TimelineContainer {
        right: 3.3vw!important;
    }
}



@media (max-width: 1195px) {
    .ProjectsBackground {
        min-height: 1590px;
    }
    .Arrow {
        height: 204px!important;
    }
    .TimelineContainer {
        right: 3.3vw!important;
    }
}

@media (max-width: 1070px) {
    .ProjectsBackground {
        min-height: 1590px;
    }
    .Arrow {
        visibility: hidden!important;
    }
    .Year{
        visibility: hidden!important;
    }
}

@media (max-width: 794px) {
    .ProjectsBackground {
        min-height: 3145px;
    }
    .Arrow {
        visibility: hidden!important;
    }
    .Year{
        visibility: hidden!important;
    }
}


.Projects {
    margin-top: 20px;
    width: 75%;
}

.ProjectsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PurpleBackground {
    background-color: var(--dark-purple);
    font-family: 'Nexa-Bold', sans-serif;
    color: var(--background-color);
    padding: 45px 0;
}

.ProjectsMoreText {
    margin: 0;
}

.Href {
    text-decoration: none;
    color: inherit;
}

.ProjectContainer {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.ProjectImg {
    height: 100%;
    object-fit: cover;
}

.Project {
    position: relative;
    margin-bottom: 10px;
    height: 20vw;
    min-height: 280px;
    max-height: 370px;
    transition: transform 0.25s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.Project::before {
    content: '';
    position: absolute;
    border-radius: 17px;
    height: 98%;
    transform: translate(1%, 0); 
    background: rgba(0, 0, 0, 0);
    transition: background 0.25s ease-in-out;
    pointer-events: none;
    aspect-ratio: 1/1;
}

.Project::after {
    content: '';
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 55px;
    height: 55px;
    background-image: url('../../assets/images/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(90deg); }
}

.Project:hover::after {
    opacity: 1;
    animation: spin 0.4s ease-out;
}
.Project:hover::before {
    background: rgba(0, 0, 0, 0.4);
}

.Project:hover {
    transform: scale(1.05);
}

.Project:not(:hover) {
    transform: scale(1);
}


.TimelineContainer {
  position: absolute;
  right: 7vw;
}

.Timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Year {
  font-size: 1.6rem;
  font-weight: 1000;
  color: var(--dark-purple);
}

.Arrow {
  width: 4px;
  height: 17vw;
  background: var(--dark-purple);
  position: relative;
}

.Arrow::after {
  content: '';
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid var(--dark-purple);
}
