.ProjectsBackground {
    background-size: auto;
    background-image: url('../../assets/images/backgrounds/points.svg');
    width: 100%;
    min-height: 94vh;
    position: relative;
    margin-top: -20px;
    z-index: -1;
}

@media (max-width: 1256px) {
    .ProjectsBackground {
        min-height: 1050px;
    }
}

@media (max-width: 828px) {
    .ProjectsBackground {
        min-height: 2030px;
    }
}

.Projects {
    margin-top: 20px;
    width: 75%;
}

.ProjectsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PurpleBackground {
    background-color: var(--purple);
    font-family: 'Nexa-Bold', sans-serif;
    color: var(--background-color);
    padding: 45px 0;
}

.ProjectsMoreText {
    margin: 0;
}

.Href {
    text-decoration: none;
    color: inherit;
}

.ProjectContainer {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.Project {
    position: relative;
    margin-bottom: 10px;
    min-width: 20vw;
    height: 20vw;
    min-height: 300px;
    transition: transform 0.25s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.Project::before {
    content: '';
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 1%;
    width: 98%;
    height: 98%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.25s ease-in-out;
    pointer-events: none;
}

.Project::after {
    content: '';
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background-image: url('../../assets/images/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

.Project:hover::after {
    opacity: 1;
}
.Project:hover::before {
    background: rgba(0, 0, 0, 0.4);
}

.Project:hover {
    transform: scale(1.05);
}

.Project:not(:hover) {
    transform: scale(1);
}
