.Titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.GrayBackground {
    background-color: var(--gray-background);
    height: 690px;
    z-index: -1;
}


@media (max-width: 1200px) {
    .GrayBackground {
        height: 587px;
    }
}

@media (max-width: 992px) {
    .GrayBackground {
        height: 514px;
    }
}


@media (max-width: 768px) {
    .GrayBackground {
        height: 434px;
    }
}

.Gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--background-color));
    height: 18vh;
    position: relative;
}